.DS_Store
*.pkl
/re.session*
/modules-data/*.tgz
/modules/emulandice/shared/packrat
/modules/emulandice/shared/*gz
\#*

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__
*~

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# IDEA / PyCharm
.idea/

makefile

# File for running runFACTS.py
/resources/resource_amarel.yml

Q-err.txt
*.nc

# Logs and temporary files
*.err
*.out

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Experiment outputs and archives
archive/
experiments/*/output/
experiments/*/workflows.yml
test.*
myexperiments/

# Shell scripts
run_experiments*.sh

# Slurm files (job scheduler logs)
slurm.*

# Temporary or backup files
*.tmp
*.bak
